<div class="row col-md-6 col-md-offset-3 card card-body bg-light">
    <form method="post" action="/home/newQuestion">
        <input class="form-control" name="title" placeholder="Title" />
        <br />
        <textarea class="form-control" placeholder="Type your question here..." rows="10" name="text"></textarea>
        <br />
        <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags" />
        <br />
        <button class="btn btn-primary">Submit</button>
    </form>
</div>

