<div class="row">
    <div class="col-md-6 offset-3">
        <h1 style="text-align: center">Sign Up New Account</h1>
        <br />
        <form action="/home/signup" method="post" class="card card-body bg-light">
            <input name="email" id="email" type="text" class="form-control" placeholder="Email" /><br />
            <span class="bg-danger" id="email-unavailable" style="display: none">
                Email address already taken!
            </span>
            <br/>
            <input name="password" id="password" type="password" class="form-control" placeholder="Password" /><br />
            <button class="btn btn-primary" id="btn-signup">Sign Up</button>
        </form>
    </div>
</div>

@section scripts
{
    <script src="/js/SignUp.js"></script>
}

